ul {
  list-style: none;
}

li {
  background-color: #eee;
  width: 250px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.icon {
  width: 50px;
  height: auto;
}

input {
  width: 85%;
  height: 25px;
  margin-bottom: 5px;
}

button {
  background-color: #2bd9f8; /* Green */
  border: none;
  color: #197585;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
}